@charset "UTF-8";
     
body {
            background-color: aqua;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Georgia, 'Times New Roman', Times, serif, Verdana, sans-serif;
            font-size: 20px;
            
        }
        h1 {
            color:aquamarine;
            background-color: rgb(37, 163, 167);

        }

        h2 {
            color: blue;   
        }

        p{
            text-align: justify;
        }